form{
    
    
   
    font-size: 2.5vh;
   width: 70%;
   background-color: transparent;
  
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  
   border-radius: 10px;
   border: white solid 2px;
   padding: 2%;
   text-align: center;

}

.box
{
    background-image: linear-gradient(to left, rgb(197, 188, 188), rgb(224, 224, 238));
    height: 100vh;
   text-align: center;
   align-items: center;
   padding-left:22%;
   padding-top: 6%;

    
}
form h1{
    font-size: 40px;
}
form input{
    
    width: 70%;
   background-color: transparent;
   
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  
   border-radius: 10px;
   border: white solid 2px;
   margin-top: 2%;
   margin-left: 16%;
   text-align: center;
}
button{
    width: 50%;
    background-color: transparent;
    
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-left: 3%;
    border-radius: 10px;
    border: white solid 2px;
    margin-top: 2%;
    height: 6vh;
    text-align: center;

}
button:hover{
    background-color: rgb(120, 181, 189);
    color: black;
    cursor: pointer;
}
form label{
    margin-top: 2%;
}
